<mat-card>
  <mat-card-content>
    <div>
      <form [formGroup]="cadastroCandidatoForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline" style="width: 35%;">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="nome" soNumeros>
            <mat-error *ngIf="cadastroCandidatoForm.controls['nome'].hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput type="date" [matDatepicker]="picker" formControlName="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="cadastroCandidatoForm.controls['dataNascimento'].hasError('required')">Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" mask="000.000.000-00">
            <mat-error *ngIf="cadastroCandidatoForm.controls['cpf'].hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Nome da Mãe</mat-label>
            <input type="text" matInput formControlName="nomeMae">
            <mat-error *ngIf="cadastroCandidatoForm.controls['nomeMae'].hasError('required')">Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="cadastroCandidatoForm.controls['email'].hasError('required')">Campo obrigatório
            </mat-error>
            <mat-error *ngIf="cadastroCandidatoForm.controls['email'].hasError('email')">Email inválido</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" maxlength="20" minlength="8">
            <mat-error *ngIf="cadastroCandidatoForm.controls['senha'].hasError('required')">Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <input type="file" class="file-input" name="campoSelfie"
                 [accept]="requiredFileType"
                 (change)="onFileSelected($event)" #fileUploadSelfie>

          <div class="file-upload">
            {{nomeArquivoSelfie || "Nenhuma selfie adicionada."}}

            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUploadSelfie.click()">
              <mat-icon>attach_file</mat-icon>
            </button>

          </div>

          <div class="progress">

            <mat-progress-bar class="progress-bar" mode="determinate"
                              [value]="uploadProgress" *ngIf="uploadProgress">

            </mat-progress-bar>

            <mat-icon class="cancel-upload" (click)="cancelUpload()"
                      *ngIf="uploadProgress">delete_forever
            </mat-icon>

          </div>
        </div>

        <div>
          <input type="file" class="file-input" name="campoDocumentoPessoal"
                 [accept]="requiredFileType"
                 (change)="onFileSelected($event)" #fileUploadDocumentoPessoal>

          <div class="file-upload">

            {{nomeArquivoDocumentoPessoal || "Nenhum documento pessoal adicionado."}}

            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUploadDocumentoPessoal.click()">
              <mat-icon>attach_file</mat-icon>
            </button>

          </div>

          <div class="progress">

            <mat-progress-bar class="progress-bar" mode="determinate"
                              [value]="uploadProgress" *ngIf="uploadProgress">

            </mat-progress-bar>

            <mat-icon class="cancel-upload" (click)="cancelUpload()"
                      *ngIf="uploadProgress">delete_forever
            </mat-icon>

          </div>
        </div>

        <div>
          <input type="file" class="file-input" name="campoComprovanteResidencia"
                 [accept]="requiredFileType"
                 (change)="onFileSelected($event)" #fileUploadComprovanteResidencia>

          <div class="file-upload">

            {{nomeArquivoComprovanteResidencia || "Nenhum comprovante de residência adicionado."}}

            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUploadComprovanteResidencia.click()">
              <mat-icon>attach_file</mat-icon>
            </button>

          </div>

          <div class="progress">

            <mat-progress-bar class="progress-bar" mode="determinate"
                              [value]="uploadProgress" *ngIf="uploadProgress">

            </mat-progress-bar>

            <mat-icon class="cancel-upload" (click)="cancelUpload()"
                      *ngIf="uploadProgress">delete_forever
            </mat-icon>

          </div>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Selecione sua cidade</mat-label>
            <select matNativeControl formControlName="cidadeSelecionada">
              <option *ngFor="let cidade of cidades" [value]="cidade">{{ cidade.nome }}</option>
            </select>
          </mat-form-field>
        </div>

        <mat-card-actions>
          <div>
            <button mat-raised-button type="submit" color="primary"
                    [disabled]="!cadastroCandidatoForm.valid || !arquivosCompletos">Cadastrar
            </button>
            <button mat-raised-button color="warn" routerLink="/">Cancelar</button>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
</mat-card>
